@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Italianno&family=Kaushan+Script&family=Pinyon+Script&display=swap');
.main_text {
    color: #000;
    text-align: center;
    font-size: 3em;
    font-style: italic;
    font-weight: 500;
    font-family: "Italianno", cursive;
    text-transform: lowercase;
    word-spacing: 20px;
    letter-spacing: 2px;
    text-decoration: overline;
    cursor: copy;
   
       
}